<div class="about-page standard-page">
  <section class="hero-image">  
  </section>
  <section class="content">
    <div class="container">
      <div class="row-fluid">
        <div class="col-md-12 info-box">
          <h1 class="page-title">About</h1>
          <p>A program of Prevent Blindness Northern California, See Well to Learn was established in 2012 to ensure that preschoolers in underserved communities have equal access to comprehensive vision care and are ready for school.  Tipping Point Community provided seed funding and management assistance to launch the Eye Bus program for Bay Area preschoolers. 
          <br/>
          <br/>
          In 2013, See Well to Learn began its Screening Services program to reach children beyond underserved preschoolers and further its mission for all children to have the vision they need to succeed at school and in life.
          <br/>
          <br/>
          See Well to Learn is a part of Preschool Vision Care of California, a state-wide network of mobile vision programs that deliver comprehensive eye care at school sites to vulnerable preschoolers.  The network also has programs in Los Angeles, San Diego and Orange County. 
          </p>
        </div>
      </div>
    </div>
  </section>
  <div class="push200"></div>
</div>

<% content_for :head do %>
  <script src="js/wow.min.js"></script>
<% end %>

<% content_for :script do %>
  <script>
   new WOW().init();
  </script>
<% end %>