<div class="components-page">
  <section class="content">
    <div class="container">
      <div class="row-fluid">
        <div class="col-md-12">
          <h1 class="page-title">Components</h1>
          <p>The Eye Bus program provides comprehensive eye care – on school site and at no cost to students.  Our eye care and compliance efforts focus on the following six areas:</p>
        </div>
      </div>
      <div class="row-fluid">
        <div class="col-md-12">
          <div class="main">
            <ul class="cbp_tmtimeline">
              <li>
                <div class="cbp_tmicon tmicon1"></div>
                <div class="cbp_tmlabel">
                  <p>Vision screening performed by a certified vision screener at preschool sites, using advanced, scientifically validated screening technology </p>
                </div>
              </li>
              <li>
                <div class="cbp_tmicon tmicon2"></div>
                <div class="cbp_tmlabel">
                  <p>Comprehensive eye exams for those children that fail the screening.  Exams are performed by a licensed optometrist who is experienced at working with preschoolers onboard the Eye Bus that returns to the school </p>
                </div>
              </li>
              <li>
                <div class="cbp_tmicon tmicon3"></div>
                <div class="cbp_tmlabel">
                  <p>If necessary, connection to pediatric ophthalmology through partnerships with UCSF, Palo Alto Medical Foundation and others</p>
                </div>
              </li>
              <li class="glasses-padding">
                <div class="cbp_tmicon tmicon4"></div>
                <div class="cbp_tmlabel">
                  <p>Free prescription glasses for children that require them</p>
                </div>
              </li>
              <li>
                <div class="cbp_tmicon tmicon5"></div>
                <div class="cbp_tmlabel">
                  <p>Follow‐up vision check for children that are prescribed glasses and are at higher risk for serious on-going vision problems</p>
                </div>
              </li>
              <li class="support-bg">
                <div class="cbp_tmicon tmicon6"></div>
                <div class="cbp_tmlabel">
                  <p>Ongoing support for parents and teachers on compliance and treatment.   This includes events for children wearing glasses so parents can meet and support each other while their children can see and play with other children wearing glasses – which normalizes the experience for all</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<% content_for :head do %>
  <script src="js/wow.min.js"></script>
<% end %>

<% content_for :script do %>
  <script>
   new WOW().init();
  </script>
<% end %>