<div class="outcomes-page council-page alt-page">
  <section class="content">
    <div class="sp-container">
      <div class="row-fluid intro">
        <div class="col-md-12">
          <h1 class="page-title">Our Advisory Council</h1>

          <p><strong>See Well to Learn is currently forming an Advisory Council to play a critical role in recommending and implementing marketing and funding initiatives to support the work of See Well to Learn.</strong></p>

          <br/>

          <p>Membership on the Advisory Council is a great opportunity to help remove barriers to vision care for low-income children by using updated technology and knitting parents, teachers, public agencies, and eye doctors together. </p>

          <p>As a primary objective, the Advisory Council will create and implement a marketing and development plan that will result in raising $500,000 in 2014-15. The Council will also advise on a business plan for expansion into other Bay Area counties as well as look at innovative funding mechanisms.</p>
          <br/>

          <p>We are seeking dedicated individuals who:</p>

          <ul class="bullet-color">
            <li>Are committed to reducing health disparities and improving academic trajectories for low-income minority children</li>
            <li>Have the desire to make an impact in Bay Area local communities and are willing to commit to Council activities and requirements</li>
            <li>Have substantive expertise in marketing &amp; communications, fundraising, technology, law, advocacy, or event planning </li>
            <li>Are influential leaders in the cities and regions we serve</li>
          </ul>
          <br/>

          <p>Council members will meet 4-6 times per year (at least twice in person) to provide general strategic advice and help with major funding strategy decisions related to the See Well to Learn initiative. Finally, as ambassadors for the initiative, members will spend time building awareness and opportunities for financial support among their networks. Members should expect to dedicate 2-4 hours per month on average in their Council role. </p>

          <strong>Current members include:</strong>
          <ul class="bullet-color">
            <li>Alejandro de Alba, MD, MPH</li>
            <li>Omondi Nyong’o, MD</li>
            <li>Tanya Willacy</li>
            <li>Tiffany Kulkarni</li>
          </ul>

          <br/>

          <p><strong><%= mail_to "wleung@eyeinfo.org" ,"Contact us" ,subject: "Interested in Advisory Council" %></strong> us today to learn more about how you can join our Advisory Council and help our vision programs reach all preschoolers across Northern California.</p>
        </div>
      </div>
    </div>
  </div>
</div>
