<div class="container">  
  <div class="row">
    <div class="col-md-8">
      <h1>FAQ</h1>
      <h3>For Preschools</h3>
      <h5>How is the minimum number of participants determined?</h5>
      The minimum number of participants is determined by the size of the school as well as a minimum number needed to ensure a successful screening.
      <h5>What if parents want to pay by cash?</h5>
      We are happy to accept cash on the day of the screening if parents want to pay cash or decide to sign up last minute.
      <h5>How do we encourage parents to sign up?</h5>
      While we will provide tips and flyers to educate and encourage parents to sign up, your teachers and administrators are the best advocates for spreading the word about our valuable vision screening service.  Our program is most successful when they are excited and involved. 
      <h5>What if parents want siblings to be screened?</h5>
      <h3>For Parents</h3>
      <h3>About us</h3>
    </div>
  </div>
</div>