<section class="hero">
  <div class="container">  
    <div class="row">
      <div class="col-md-12">
        <%= image_tag "seewelltoleard-hero-logo.png", class: "hero-logo" %>
        <div class="descript">
          <h1>We’ve screened over a million children and counting</h1>
          <p>Preschool is an important time in a young child’s life: it kicks off a lifetime of learning and social navigation.  It also marks their transition to reading from a blackboard and learning from across the classroom.  To ensure a successful transition, we provide high-tech, thorough vision screening services to preschools in order to catch vision issues early on – before they become larger learning or behavioral issues. </p>
          <%= link_to 'Sign up now', new_charge_path, class: "signup-button" %>
          <div>
          <!-- <h2>Benefits of See Well to Learn screening services:</h2>
          <ul>
            <li>Advanced vision screening technology that catches even subtle issues</li>
            <li>Highly trained professional screeners that are excellent at working with preschool-aged children</li>
            <li>Instantly available results that are sent home same day with the screened child</li>
            <li>Expert assistance for parents as they navigate follow up care for their child</li>
          </ul> -->
        <div>
      </div>
    </div>
  </div>
</section>
<section class="container">  
  <div class="row">
    <div class="col-md-12">
      <h2>For the price of a movie date, you can make sure that your child’s vision is where it needs to be for success at school and in life.</h2>
      <p>From academic readiness to social readiness, preschool sets your child up for success over the next decade-plus of education and growth.  And one of the most important factors to your child’s education is his or her vision.
      Catching vision issues early on will ensure that your child has an educational advantage. Our thorough screening service combines the latest in vision technology with highly trained professionals who are also excellent at working with preschool-aged children.
      “Preschoolers needing glasses scored poorly on standardized tests predicting their future academic success. After just 6 weeks of wearing glasses, their test scores jumped to match the scores of other preschoolers.” – July 2007 Study on impact of vision correction on academic success
      </p>
    </div>
  </div>
</section>