<div id="homepage">

  <section class="hero">
    <div class="container">  
      <div class="row">
        <div class="col-md-12">
          <%= image_tag "seewelltoleard-hero-logo.png", class: "hero-logo" %>
          <div class="descript">
            <h1>We’ve screened over a million children and counting</h1>
            <h4>Preschool kicks off a lifetime of learning, preparing children to read a blackboard and learn from across the room. Catching vision problems at this age through screening—before they become larger learning or behavioral issues—sets children up for educational and social success.</h4>
            <p>
              We bring advanced, progressive vision screening to schools through our two successful onsite initiatives:
              <br/>
              For private preschools, we bring high-tech, thorough vision screening and well-trained, professional screeners to school sites. We send children home with the results of their screenings that very same day, along with any recommendations on follow-up care, so parents can take confident action.
              <br/>
              For publicly funded low-income preschools, we offer Vision 360⁰: the same high-tech, thorough vision screening and well-trained screeners, plus follow-up eye exams with professional optometrists and prescription glasses through our Eye Bus.
              We are committed to making sure all of Northern California’s children can see well. 
            </p>
            <%= link_to 'Sign up now', register_student_path, class: "signup-button" %>
            <div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="benefits">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Preschool Vision Screenings</h1>
          <h2>Screen early to ensure children have their best vision for a lifetime of learning</h2>
          <h4>For private preschools, we bring high-tech, thorough vision screening and well-trained, professional screeners to school sites to ensure children are ready for kindergarten and beyond.</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>Benefits of See Well to Learn screening services:</h2>
          <ul>
            <li>Advanced vision screening technology that catches even subtle issues</li>
            <li>Highly trained professional screeners that are excellent at working with preschool-aged children</li>
            <li>Instantly available results that are sent home same day with the screened child</li>
            <li>Expert assistance for parents as they navigate follow up care for their child</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

</div>