<div class="outcomes-page alt-page">
  <section class="content">
    <div class="container">
      <div class="row-fluid">
        <div class="col-md-12">
          <h1 class="page-title">Outcomes</h1>
          <p>While we have screened over a million children through PBNC’s vision screening programs, the Eye Bus program has achieved the following outcomes since its launch in 2012:</p>
        </div>
      </div>
      <div class="row-fluid comp-graphics-row">
        <div class="col-md-3">
          <div class="comp-graphics">
            <div class="outcomes-img">
              <%= image_tag "outcomes/outcomes1.jpg" %>
            </div>
            <div class="outcome-descript">
              <h3>Screened over</h3>
              <h2>18,000</h2> 
              children
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="comp-graphics">
            <div class="outcomes-img">
              <%= image_tag "outcomes/outcomes2.jpg" %>
            </div>
            <div class="outcome-descript">
              <h3>Provided over</h3>
              <h2>2,000</h2>
              comprehensive eye exams
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="comp-graphics">
            <div class="outcomes-img">
              <%= image_tag "outcomes/outcomes3.jpg" %>
            </div>
            <div class="outcome-descript">
              <h3>Distributed over</h3>
              <h2>1,200</h2> 
              pairs of eyeglasses
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="comp-graphics">
            <div class="outcomes-img">
              <%= image_tag "outcomes/outcomes4.jpg" %>
            </div>
            <div class="outcome-descript">
              <h3>Improved</h3>
              follow-up rates from a failed vision screening to seeing an eye doctor from 43% to 76%
            </div>
          </div>
        </div>
      </div>
      <div class="row-fluid">
        <div class="col-md-12">
          <div class="testi-module">
            <h2>Community Impact</h2>
            <div class="testimonial">
              <div class="test-quote">When you handed me the referral envelopes for the children that failed your vision screening, it clicked! These are the children that are having behavioral issues in our classroom. It’s because <strong>they can’t see well enough to participate in the educational activities!</strong>”</div>
              <span class="byline">--Blanca Velasquez, Site Supervisor at Valencia Gardens Head Start, San Francisco</span>
            </div>
            <div class="testimonial">
              <div class="test-quote">We wanted to share the feedback from the family advocates regarding See Well to Learn&trade; services.  Thanks to the See Well to Learn&trade; program <strong>we have better involvement of the parents regarding follow-up</strong>. Your See Well to Learn&trade; screener was awesome working with the staff, parents &amp; children.</div>
              <span class="byline">--Jennifer Briscoe, MA, Health Services Coordinator at Oakland Head Start, Oakland</span>
            </div>
            <div class="testimonial">
              <div class="test-quote">Axon was always running into things and getting very close to the faces of people he was interacting with.  I thought he was just ‘being a boy.’ <strong>Now I know that he actually couldn’t see well, and that was what was causing these behaviors</strong>.”</div>
              <span class="byline">--Karna, mom of Axon (screened at age 3)</span>
            </div>
          </div>
          <div class="push100"></div>
          <div class="push100"></div>
        </div>
      </div>
    </div>
  </section>
</div>
