<div class="outcomes-page alt-page">
  <section class="content">
    <div class="container">
      <div class="row-fluid">
        <div class="col-md-12">
          <h1 class="page-title">Outcomes</h1>
          <p>While we have screened over a million children through PBNC’s vision screening programs, the Eye Bus program has achieved the following outcomes since its launch in 2012:</p>
        </div>
      </div>
      <div class="row-fluid comp-graphics-row">
        <div class="col-md-3">
          <div class="comp-graphics">
            <div class="outcomes-img">
              <%= image_tag "outcomes/outcomes1.jpg" %>
            </div>
            <div class="outcome-descript">
              <h3>Screened over</h3>
              <h2>18,000</h2> 
              children
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="comp-graphics">
            <div class="outcomes-img">
              <%= image_tag "outcomes/outcomes2.jpg" %>
            </div>
            <div class="outcome-descript">
              <h3>Provided over</h3>
              <h2>2,000</h2>
              comprehensive eye exams
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="comp-graphics">
            <div class="outcomes-img">
              <%= image_tag "outcomes/outcomes3.jpg" %>
            </div>
            <div class="outcome-descript">
              <h3>Distributed over</h3>
              <h2>1,200</h2> 
              pairs of eyeglasses
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="comp-graphics">
            <div class="outcomes-img">
              <%= image_tag "outcomes/outcomes4.jpg" %>
            </div>
            <div class="outcome-descript">
              <h3>Improved</h3>
              follow-up rates from a failed vision screening to seeing an eye doctor from 43% to 76%
            </div>
          </div>
        </div>
      </div>
      <div class="row-fluid">
        <div class="col-md-12">
          <div class="testi-module">
            <h2>Community Feedback</h2>
            <div class="testimonial">
              <div class="test-quote">After my daughter failed her vision screening, I took her to two different doctors to further check her eyes.  The See Well to Learn staff was incredibly supportive in helping me understand the diagnosis my daughter received and how to get the best care for her.  She has vision today in both eyes because of them.</div>
              <span class="byline">--Darla, mom of Natalie (screened at age 5)</span>
            </div>
            <div class="testimonial">
              <div class="test-quote">I’m so grateful to See Well to Learn for detecting Lyra’s eye condition. I was unaware of any visual difficulties and was even starting to think that Lyra might not be as bright as my other children. Who knows when I would’ve discovered that she could barely see out of her left eye!</div>
              <span class="byline">--Michele, mom of Lyra (screened at age 4)</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<% content_for :head do %>
  <script src="js/wow.min.js"></script>
<% end %>

<% content_for :script do %>
  <script>
   new WOW().init();
  </script>
<% end %>