<div class="parents-page standard-page">
  <section class="hero-image">  
  </section>
  <section class="content">
    <div class="sp-container">
      <div class="row-fluid wow fadeIn">
        <div class="col-md-8 info-box">
          <h1 class="page-title">Parents</h1>

          <p>
            <strong>For a small donation, you can be sure that your child’s vision is where it needs to be for success at school and in life.</strong>
            <br/>
            <br/>
            From academic readiness to social readiness, preschool sets your child up for success over the next decade-plus of education and growth.  And one of the most important factors to your child’s education is his or her vision.  Register your child today for our thorough, high-tech vision screening.
            <br/>
            <br/>
            Correcting vision issues can have an immediate impact on the academic performance of children. In one study, preschoolers needing glasses scored poorly on standardized tests predicting their future academic success. After just 6 weeks of wearing glasses, their test scores jumped to match the scores of other preschoolers.
            <br/>
            <br/>
            Help all children see well through our Buy one, Give one program where you will have the opportunity to be sure your child can See Well to Learn&trade; and give that same gift to a child whose family would otherwise not be able to afford it!   
          </p>
          <div class="testi-module">
            <h2>Testimonials</h2>
            <div class="testimonial">
              <div class="test-quote">After my daughter failed her vision screening, I took her to two different doctors to further check her eyes.  The See Well to Learn&trade; staff was incredibly supportive in helping me understand the diagnosis my daughter received and how to get the best care for her.  She has vision today in both eyes because of them.</div>
              <span class="byline">--Darla, mom of Natalie (screened at age 5)</span>
            </div>
            <div class="testimonial">
              <div class="test-quote">I’m so grateful to See Well to Learn&trade; for detecting Lyra’s eye condition. I was unaware of any visual difficulties and was even starting to think that Lyra might not be as bright as my other children. Who knows when I would’ve discovered that she could barely see out of her left eye!</div>
              <span class="byline">--Michele, mom of Lyra (screened at age 4)</span>
            </div>
          </div>
        </div>
        <div class="col-md-4 side-box">
          <%= mail_to "anakayoshi@seewelltolearn.org ", subject: "Vision Screening for My Child's School", class: "contact-button-school" do %>
            Bring Vision Screening to your school!
            <span>Contact us here.</span>
          <% end %>
          <h3>Won’t well-child checkups catch any vision problems?</h3>
          Unfortunately, not necessarily. We’ve screened over a million children in the last fifty years and we’ve caught vision issues that even well-child checks have missed. In fact, in one study, over 30 percent of the children who failed our high-tech vision screening and ended up needing glasses, had previously passed a routine screening at their pediatrician’s office. 
        </div>
      </div>
    </div>
  </section>
</div>
