<div class="screening-page standard-page">
  <section class="hero-image">  
  </section>
  <section class="content">
    <div class="sp-container">
      <div class="row-fluid wow fadeIn">
        <div class="col-md-12 info-box">
          <h1 class="page-title">Screening Services</h1>
          <h3>We’ve screened over a million children and counting</h3>
          <p>All parents want to feel confident that their child has the healthy vision they need to succeed in school and in life.  To meet this need, we bring high-tech, thorough vision screening and well-trained, professional screeners to preschool sites in all Bay Area communities to ensure children are ready for kindergarten and beyond.
          </p>
          <h3>Benefits of See Well to Learn&trade; screening services:</h3>
          <ul class="bullet-color">
            <li>Advanced vision screening technology that catches even subtle issues</li>
            <li>Highly specialized professional screeners that excel at working with preschoolers</li>
            <li>Instantly available results that are sent home same day with the screened child</li>
            <li>Expert assistance for parents as they navigate follow-up care for their child</li>
          </ul>
          <br/>
          <strong>Learn more:</strong>
          <br/>
          <%= link_to 'Parents', parents_static_path %> &nbsp; | &nbsp;
          <%= link_to 'Schools', schools_static_path %> &nbsp; | &nbsp;
          <%= link_to 'FAQ', faq_path %> &nbsp; | &nbsp;  
          <%= link_to 'Registration', register_student_path %>
        </div>
      </div>
    </div>
  </section>
</div>

<% content_for :head do %>
  <script src="js/wow.min.js"></script>
<% end %>

<% content_for :script do %>
  <script>
   new WOW().init();
  </script>
<% end %>