<div class="outcomes-page staff-page alt-page">
  <section class="content">
    <div class="container">
      <div class="row-fluid intro">
        <div class="col-md-12">
         <h1 class="page-title">Our Staff</h1>

          <div class="staff-member">
            <div class="seth-head staff-pic wow zoomIn"></div>
            <h3>Seth M. Schalet</h3>
            <strong>CEO of Prevent Blindness Northern California</strong>
            <p>Seth joined Prevent Blindness Northern California as the Chief Executive Officer in February 2015 after serving for several years as the Executive Director with the Pacific Art League. As Prevent Blindness Northern California’s CEO, Seth is responsible for all facts of operations, finance, programs, fundraising and community outreach.
            <br/>
            <br/>
            Previously, he served as the Chief Operating Officer of the Oshman Family Jewish Community Center in Palo Alto, CA, where he was responsible for a $15M operating budget leading programs, IT, finance, facilities and work with Board of Directors and volunteers. Prior to his nonprofit career, Seth was President and General Manager of SharkRack, a private equity owned manufacturer of data center equipment where he lead strategy, P&amp;L, operations, sales and marketing.  Prior to SharkRack, Seth led global sales, marketing and operations functions for various start-ups and Fortune 500 organizations in the software, hardware and consulting services markets throughout North America, Europe and Asia.
            <br/>
            <br/>
            Seth holds a B.S. degree from Indiana University of Pennsylvania and an MBA degree from Suffolk University. Seth has certificates in Nonprofit Finance from Harvard University's Kennedy School of Government, Operations Management from Stanford University and is a participant in Stanford University's Nonprofit Management Institute programs. 
            <br/>
            <br/>
            Seth is presently a Board of Director member for <a href="http://www.star-vista.org" class="bo-link">StarVista</a>, <a href="http://www.sundayfriends.org/" class="bo-link">Sunday Friends</a>, <a href="http://www.womaninc.org/" class="bo-link">WOMAN, Inc.</a>, <a href="http://www.hiller.org/" class="bo-link">Hiller Aviation Museum</a> and previously served as a member on the <a href="http://www.sparkprogram.org/" class="bo-link">Spark board</a>. He is also an active member of the <a href="http://www.afpnet.org/" class="bo-link">Association of Fundraising Professionals (AFP)</a>, <a href="https://www.boardsource.org/eweb/" class="bo-link">BoardSource</a> and is a volunteer Account Director with Taproot Foundation, leading various grants and consulting projects for Bay Area nonprofits
            </p>
          </div>

          <div class="staff-member">
            <div class="april-head staff-pic wow zoomIn"></div>
            <h3>April Nakayoshi, MPH, CHES</h3>
            <strong>Program Director</strong>
            <p>April joined Prevent Blindness Northern California in 2001 and became Program Director in 2008.  Prior to joining PBNC, she worked in international trade.  She has a BA in English Literature from UC Berkeley, a Masters in Public Health from Walden University, and is a Certified Health Education Specialist. She is an expert in children’s vision screening and leads trainings throughout California for school nurses, pediatric office staff and Head Start personnel.  In her free time, she likes to read, explore new places around the Bay Area, and enjoy time with her family.</p>
          </div>

          <div class="staff-member">
            <div class="nadia-head staff-pic wow zoomIn"></div>
            <h3>Nadia Thind, MPH, CHES</h3>
            <strong>Community Services Manager</strong>
            <p>Nadia joined Prevent Blindness Northern California in 2009.  Prior to joining PBNC, she worked with Head Start and Early Head Start programs as well as at UCSF in the Department of Family and Community Medicine.  She has a BS in Biochemistry and Cell Biology from the University of California, San Diego as well as her MPH from Tulane’s School of Public Health and Tropical Medicine.  In her free time, she enjoys watching sports, reading and photography. </p>
          </div>

          <div class="staff-member">
            <div class="nicole-head staff-pic wow zoomIn"></div>
            <h3>Nicole C. Rodriguez, MPH, CHES</h3>
            <strong>Development Coordinator</strong>
            <p>Nicole joined Prevent Blindness Northern California in 2009. Prior to joining PBNC, she was a policy consultant for the United Nations Development Programme on HIV / AIDS and economic development in Sub-Saharan Africa. She also worked with the Children’s Aid Society and Robert Wood Johnson Foundation evaluating childhood obesity prevention and intervention programs in New York. She has a BS in Molecular and Cell Biology, a BA in Ethnic Studies from UC Berkeley, and an MPH from Columbia University. She loves spending time with her daughter and enjoys snowboarding.</p>
          </div>

          <div class="staff-member">
            <div class="ching-head staff-pic wow zoomIn"></div>
            <h3>Ching Ng</h3>
            <strong>Program Associate</strong>
            <p>Ching joined Prevent Blindness Northern California in 2013.Prior to joining PBNC, Ching spent two years in Spain as an English teacher. His experience in the classroom helps him appreciate the importance of vision for learning.  He has a BA in Organizational Communications from Sacramento State University.  Ching speaks Cantonese and Spanish fluently.  In his free time, he likes to play intermural basketball, watch sports and teach English to foreign students.</p>
          </div>

          <div class="staff-member">
            <div class="keri-head staff-pic wow zoomIn"></div>
            <h3>Keri Kamp</h3>
            <strong>See Well to Learn Coordinator</strong>
            <p>Keri joined Prevent Blindness Northern California in 2014. She has a BS in Public health from Oregon State University and has dedicated a lot of time to the Boys and Girls Club in Oregon. In college she helped raise over $23,000 towards Aid to the Blind. Keri is a world traveler proficient in Thai and enjoys running, yoga, live music and spending time with friends in her free time. </p>
          </div>

          <div class="staff-member">
            <div class="elise-head staff-pic wow zoomIn"></div>
            <h3>Elise Harb, OD, MS, FAAO</h3>
            <strong>Optometrist</strong>
            <p>Dr. Elise Harb received her Doctorate in optometry in 2004 and her Masters degree in vision science in 2005 from the New England College of Optometry in Boston. In 2004-2005 she also performed a residency in pediatric optometry. Subsequently, she was brought on to the faculty at the New England College of Optometry and had several clinical, teaching, research and administrative duties within the Pediatrics Department. During that time, she saw pediatric patients within the Pediatric Ophthalmology Department at Boston University Eye Associates, Boston Medical School’s teaching hospital. Her expertise is in the areas of strabismus, amblyopia and refractive error. She is an investigator in the Pediatric Eye Disease Investigator Group as well as the Correction of Myopia Evaluation Trial. Recently, she relocated to the Bay Area where she was born and raised after being awarded a National Institute of Health K-12 research training grant at UC Berkeley School of Optometry, but remains an Adjunct Associate Professor at the New England College of Optometry.</p>
          </div>

          <div class="staff-member">
            <div class="anna-head staff-pic wow zoomIn"></div>
            <h3>Anna Szeto, OD.</h3>
            <strong>Optometrist</strong>
            <p>Dr. Szeto is a San Francisco Bay Area native. She attended at the University of California Davis and completed her double bachelor degrees in Genetics and Psychology. She continued on to finishing her doctorate degree in Optometry at the State University of New York College of Optometry. Her clinical training was at the University Eye Center, Wenzhou Medical College and Northwest Tucson VA Clinic with emphasis in primary care, ocular disease, contact lens, vision therapy and pediatrics. She believes in the importance of comprehensive eye examination for everyone especially children entering school. She is a member of the California Optometric Association and American Optometric Association. Outside of work, she enjoys running, hiking, traveling and photography.</p>
          </div>

          <div class="staff-member">
            <div class="pat-head staff-pic wow zoomIn"></div>
            <h3>Pat Crisera, RN</h3>
            <strong>Vision Screener</strong>
            <p>Pat became a vision screener for Prevent Blindness Northern California in 2000.  Pat graduated from St. Louis City Hospital School of Nursing and worked as an emergency room RN. Pat finds it very rewarding to know she has helped so many preschoolers receive treatment for visual impairment. In her free time, she plays tennis in USTA tournaments and enjoys taking care of her grandchildren and hosting family gatherings.</p>
          </div>
          
          <div class="staff-member">
            <div class="jessica-head staff-pic wow zoomIn"></div>
            <h3>Jessica Yuen</h3>
            <strong>Vision Screener</strong>
            <p>Jessica Yuen joined Prevent Blindness Northern California as a See Well to Learn Vision Screener in August 2014. She has a BA in Public Health with honors from the University of California, Berkeley.  She is passionate about helping people see well, and has participated in many research and outreach efforts related to vision. She is proficient in Cantonese and enjoys traveling, dancing, cooking, and arts &amp; crafts.</p>
          </div>
          
          <div class="staff-member">
            <div class="raul-head staff-pic wow zoomIn"></div>
            <h3>Raul Aguilar</h3>
            <strong>Administrative Assistant</strong>
            <p>Raul joined Prevent Blindness Northern California in 2013. Prior to joining PBNC, Raul provided development and administrative support to several youth empowerment, legal and HIV service non-profit organizations, including the SFUSD and the Tides Foundation. Raul is also fluent in Spanish. In his free time, he is a self-taught artist whose work has been exhibited in the Bay Area and around the country.</p>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>