<div class="outcomes-page staff-page alt-page">
  <section class="content">
    <div class="container">
      <div class="row-fluid intro">
        <div class="col-md-12">
         <h1 class="page-title">Our Staff</h1>

          <div class="staff-member">
            <div class="wing-head staff-pic wow zoomIn"></div>
            <h3>Wing-See Fox, MSW, MBA</h3>
            <strong>CEO of Prevent Blindness Northern California</strong>
            <p>Wing-See joined Prevent Blindness Northern California as the Chief Executive Officer in 2008 after spending a year in West Africa as a business development consultant. Prior to that, Wing-See was an Associate Director for the Municipal Securities Group at UBS Investment Bank in New York. She also has experience in nonprofit management as the Outreach Program Director for the Palo Alto Family YMCA.  Wing-See has an MBA from Columbia Business School, an MSW from Columbia University School of Social Work, and a BA in Psychology from Stanford University.  In her free time, she enjoys exploring new places with her husband and new daughter.</p>
          </div>

          <div class="staff-member">
            <div class="april-head staff-pic wow zoomIn"></div>
            <h3>April Nakayoshi, MPH, CHES</h3>
            <strong>Program Director</strong>
            <p>April joined Prevent Blindness Northern California in 2001 and became Program Director in 2008.  Prior to joining PBNC, she worked in international trade.  She has a BA in English Literature from UC Berkeley, a Masters in Public Health from Walden University, and is a Certified Health Education Specialist. She is an expert in children’s vision screening and leads trainings throughout California for school nurses, pediatric office staff and Head Start personnel.  In her free time, she likes to read, explore new places around the Bay Area, and enjoy time with her family.</p>
          </div>

          <div class="staff-member">
            <div class="nadia-head staff-pic wow zoomIn"></div>
            <h3>Nadia Thind, MPH, CHES</h3>
            <strong>Community Services Manager</strong>
            <p>Nadia joined Prevent Blindness Northern California in 2009.  Prior to joining PBNC, she worked with Head Start and Early Head Start programs as well as at UCSF in the Department of Family and Community Medicine.  She has a BS in Biochemistry and Cell Biology from the University of California, San Diego as well as her MPH from Tulane’s School of Public Health and Tropical Medicine.  In her free time, she enjoys watching sports, reading and photography. </p>
          </div>

          <div class="staff-member">
            <div class="kim-head staff-pic wow zoomIn"></div>
            <h3>Kimberly Wong</h3>
            <strong>SWTL Coordinator</strong>
            <p>Kimberly joined Prevent Blindness Northern California in 2012.  Before working at PBNC, Kimberly worked with preschool-aged children for five years in her roles as project advocate for Breathe California and intern at The UCSF National Center of Excellence in Women's Health. She has a BS in Health Education from San Francisco State University. In her free time, she enjoys going on food adventures as well as playing volleyball and flag .football.</p>
          </div>

          <div class="staff-member">
            <div class="nicole-head staff-pic wow zoomIn"></div>
            <h3>Nicole C. Rodriguez, MPH, CHES</h3>
            <strong>Development Coordinator</strong>
            <p>Nicole joined Prevent Blindness Northern California in 2009. Prior to joining PBNC, she was a policy consultant for the United Nations Development Programme on HIV / AIDS and economic development in Sub-Saharan Africa. She also worked with the Children’s Aid Society and Robert Wood Johnson Foundation evaluating childhood obesity prevention and intervention programs in New York. She has a BS in Molecular and Cell Biology, a BA in Ethnic Studies from UC Berkeley, and an MPH from Columbia University. She loves spending time with her daughter and enjoys snowboarding.</p>
          </div>

          <div class="staff-member">
            <div class="ching-head staff-pic wow zoomIn"></div>
            <h3>Ching Ng</h3>
            <strong>Program Associate</strong>
            <p>Ching joined Prevent Blindness Northern California in 2013.   Prior to joining PBNC, Ching spent two years in Spain as an English teacher. His experience in the classroom helps him appreciate the importance of vision for learning.  He has a BA in Organizational Communications from Sacramento State University.  Ching speaks Cantonese and Spanish fluently.  In his free time, he likes to play intermural basketball, watch sports and teach English to foreign students.</p>
          </div>

          <div class="staff-member">
            <div class="pat-head staff-pic wow zoomIn"></div>
            <h3>Pat Crisera, RN</h3>
            <strong>Vision Screener</strong>
            <p>Pat became a vision screener for Prevent Blindness Northern California in 2000.  Pat graduated from St. Louis City Hospital School of Nursing and worked as an emergency room RN. Pat finds it very rewarding to know she has helped so many preschoolers receive treatment for visual impairment. In her free time, she plays tennis in USTA tournaments and enjoys taking care of her grandchildren and hosting family gatherings.</p>
          </div>

          <div class="staff-member">
            <div class="roger-head staff-pic wow zoomIn"></div>
            <h3>Roger Nahum</h3>
            <strong>Vision Screener</strong>
            <p>Roger Nahum joined Prevent Blindness Northern California as a See Well to Learn Vision Screener in August 2014.  He has a BS in Systems Engineering &amp; Engineering Management from George Washington University and is the founder of Swap Socks, a business enterprise created to help support efforts to reduce the rate of preventable blindness worldwide.  His other interests include website development, stock trading, physical fitness, and basketball.</p>
          </div>
          
          <div class="staff-member">
            <div class="jessica-head staff-pic wow zoomIn"></div>
            <h3>Jessica Yuen</h3>
            <strong>Vision Screener</strong>
            <p>Jessica Yuen joined Prevent Blindness Northern California as a See Well to Learn Vision Screener in August 2014. She has a BA in Public Health with honors from the University of California, Berkeley.  She is passionate about helping people see well, and has participated in many research and outreach efforts related to vision. She is proficient in Cantonese and enjoys traveling, dancing, cooking, and arts & crafts.</p>
          </div>
          
          <div class="staff-member">
            <div class="raul-head staff-pic wow zoomIn"></div>
            <h3>Raul Aguilar</h3>
            <strong>Administrative Assistant</strong>
            <p>Raul joined Prevent Blindness Northern California in 2013. Prior to joining PBNC, Raul provided development and administrative support to several youth empowerment, legal and HIV service non-profit organizations, including the SFUSD and the Tides Foundation. Raul is also fluent in Spanish. In his free time, he is a self-taught artist whose work has been exhibited in the Bay Area and around the country.</p>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>