<% content_for :script do %>
  <script>
    $(document).ready(function(){
      $("#sidenav").affix({
        offset: {
          top: 10
        }
      });
  });
  </script>
  <script>
    $('body').scrollspy({ target: '.navbar-example' })
  </script>
<% end %>

<div id="vision360">
  <section class="header">
    <div class="container">
      <div class="row-fluid">
        <div class="col-md-9">
          <a name="vision360"></a> 
          <h1>Vision 360⁰</h1>
          <h3>We are committed to making sure all of Northern California’s children can see well </h3>
          <p>
            See Well to Learn (SWTL) sets every preschooler up for success in school through early detection of vision problems.  Vision problems are one of the most prevalent disabling conditions among children, impacting their academic achievement trajectory.
            <br/>
            <br/>
            Despite extensive evidence that good vision is critical for early learning and development, parents of preschoolers living in high-poverty Northern California neighborhoods often find the barriers to care so overwhelming that children fail to receive the vision services they need.  This results in minority and low-income children being up to three times more likely to suffer from vision problems.
            <br/>
            <br/>
            To ensure that preschoolers in underserved communities have equal access to comprehensive vision care and are ready for school, Prevent Blindness Northern California (PBNC) and Tipping Point Community established SWTL in 2012 to provide Vision 360⁰ which includes not only advanced vision screening but also complete eye exams by licensed optometrists, prescription glasses, and support for parents and teachers — all for free and on school site.
          </p>
        </div>
        <div class="col-md-3">
          <nav id="sidenav" data-spy="affix">
            <ul>
              <li><a href="#vision360">Vision 360⁰</a></li>
              <li><a href="#ourwork">Our Work</a></li>
              <li><a href="#ourimpact">Our Impact</a></li>
              <li><a href="#partners">Our Partners</a></li>
              <li><a href="#getinvolved">Get Involved</a></li>
              <li>
                <%= mail_to "followup@seewelltolearn.org" ,subject: "See Well to Learn" do %>
                  Contact us
                <% end %>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </section>

  <a name="ourwork"></a>

  <section class="work">
    <div class="container">  
      <div class="row-fluid">
        <div class="col-md-9"> 
          <h2>Our Work</h2>
          <h3>See Well to Learn’s Vision 360⁰ employs an innovative, school-based approach to accurately detect preschoolers who have vision problems and ensure that those underserved children receive the care they need for vision correction so they can enter Kindergarten ready to learn.</h3>
          <p>Components of this program include:</p>
          <ol>
            <li>Vision screening performed by a certified vision screener at preschool sites, using advanced, scientifically validated screening technology</li>
            <li>Comprehensive eye exams for those children that fail the screening. Exams are performed by a licensed optometrist onboard the Eye Bus that returns to the school</li>
            <li>Connection to pediatric ophthalmology, if necessary</li>
            <li>Free prescription glasses for children that require them (including one replacement pair)</li>
            <li>Follow-up vision check for children that are prescribed glasses and are at higher risk for serious ongoing vision problems</li>
            <li>Continued support to school staff and parents of children that are prescribed glasses or other treatment</li>
          </ol>
          <p>In addition, SWTL addresses compliance issues, which are especially challenging in this age group.  Time is spent calling parents and teachers of those that are prescribed glasses to make sure that the child is wearing them, to address any concerns, and to give tips on how to get the child to comply with treatment. SWTL also holds fun events for children wearing glasses so that parents can meet and support each other, and children can see other children their age wearing glasses. The result is that teachers are reporting more children in their classrooms wearing glasses and becoming more engaged in activities.</p>
        </div>
      </div>
    </div>
  </section>

  <a name="ourimpact"></a> 

  <section class="impact">
    <div class="container">  
      <div class="row-fluid">
        <div class="col-md-9">
          <h2>Our Impact</h2>
          <h3>While we have screened over a million children through PBNC’s vision screening programs, SWTL has made the following impact since its launch in 2012:</h3>
          <ul>
            <li>Screened over 15,500 children</li>
            <li>Provided over 1,700 comprehensive eye exams</li>
            <li>Distributed over 1,000 pairs of eyeglasses</li>
            <li>Raised the average percentage of children who have failed a vision screening and received a follow-up eye exam from 43% to 76%</li>
          </ul>
          <h3>Community Feedback</h3>
          <div class="testi-module">
            <div class="testimonial">
              <div class="test-quote">When you handed me the referral envelopes for the children that failed your vision screening, it clicked! These are the children that are having behavioral issues in our classroom. It’s because they can’t see well enough to participate in the educational activities!</div>
              <span class="byline">-- Blanca Velasquez, Site Supervisor at Valencia Gardens Head Start, San Francisco</span>
            </div>
            <div class="testimonial">
              <div class="test-quote">We wanted to share the feedback from the family advocates regarding SWTL services.  Thanks to the SWTL program we have better involvement of the parents regarding follow-up. Your SWTL screener was awesome working with the staff, parents &amp; children.</div>
              <span class="byline">-- Jennifer Briscoe, MA Health Services Coordinator at Oakland Head Start, Oakland</span>
            </div>
<!--        <div class="testimonial">
              <div class="test-quote">When my daughter was a toddler, she refused to leave my side. She clung to my legs. I blamed myself for her behavior. It turned out she had a vision problem. Once we got her glasses, she was all over the monkey bars and so friendly with other children.</div>
              <span class="byline">-- Thankful Parent</span>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>

  <a name="partners"></a>

  <section class="partners">
    <div class="container">  
      <div class="row-fluid">
        <div class="col-md-9">
          <h2>Our Partners</h2>
        </div>
      </div>
      <div class="row-fluid">
        <div class="col-md-5">
          <p>
            SWTL launched in San Francisco and Oakland and is privileged to partner with First 5 San Francisco, First 5 Alameda, the respective Head Start agencies and unified school districts as well as the Department of Public Health in San Francisco to deliver its services.
            <br/>
            <br/>
            SWTL is currently seeking funding support to maintain our current level of programming in San Francisco and Oakland for the 2014‐2015 school year. Given the success of See Well to Learn, we have also been receiving requests for our services from other low-income preschools around Northern California; we are looking for additional funding to expand our services and meet these needs.
          </p>
          <div>
            To learn more about funding opportunities, please contact the CEO of Prevent Blindness Northern California:
            <div>
              Wing-See Leung, MBA, MSW
              <br/>
              (415) 567‐7500
              <br/>
              <%= mail_to "mailto:wleung@eyeinfo.org" do %>
                wleung@eyeinfo.org
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <h4>Learn more about our innovative Private-Public Partnership </h4>
          <p class="partner-side-text">SWTL is currently working with Alameda County Healthcare Services Agency and Tipping Point Community to explore an innovative private-public partnership that will leverage private foundation dollars with Federal matching dollars through Medicaid Administrative Activities claiming. There is precedence for this type of funding mechanism, and its growing success could change the landscape for sustainability of nonprofit organizations. We welcome any funders who are interested in learning more about this opportunity.</p>
        </div>
      </div>
    </div>
  </section>

  <a name="getinvolved"></a>

  <section class="get-involved">
    <div class="container">  
      <div class="row-fluid">
        <div class="col-md-9">
          <h2>Get involved</h2>
          <h3>See Well to Learn is an exciting new program and we welcome your involvement as it takes off as a model of care around Northern California:</h3>
          <ul>
            <li>Through our Buy one, Give one program, parents have the opportunity to be sure their child can see well to learn and give that same gift to a child whose family would otherwise not be able to afford it.</li>
            <li>SWTL welcomes any support and advocacy in bringing vision screening to your school.  Please contact our Program Director, April Nakayoshi, MPH, CHES at 415-321-7503 for more information.</li>
            <li>In addition to the above opportunities, we are convening an Advisory Council in 2014 to increase the visibility and sustainability of SWTL</li> 
          </ul>
          <p>Membership on the Council is an exciting opportunity to participate on the ground level of an innovative program that will deliver unparalleled impacts on children’s vision and early learning in the Bay Area. Our model efficiently removes barriers to care and significantly increases access for low-income children by using updated technology and by knitting parents, teachers, public agencies, and eye doctors together. 
          As a primary objective, the Advisory Council will create and implement a marketing and development plan that will result in raising $500,000 in 2014 for the See Well to Learn program at PBNC. The Council will also advise on a business plan for expansion into other Bay Area counties as well as look at innovative funding mechanisms.
          </p>
          <h4>We are seeking dedicated individuals who:</h4>
          <ul>
            <li>Are committed to reducing health disparities and promoting early education for low-income children</li>
            <li>Have the desire to make an impact in Bay Area local communities and are willing to commit to Council activities and requirements</li>
            <li>Have substantive expertise in marketing & communications, fundraising, technology, law, advocacy, or event planning </li>
            <li>Are influential leaders in the cities and regions we serve</li>
          </ul>
          <p>Council members will meet 4-6 times per year (at least twice in person) to provide general strategic advice and help with major funding strategy decisions related to the See Well to Learn initiative. Finally, as ambassadors for the initiative, members will spend time building awareness and opportunities for financial support among their networks. Members should expect to dedicate 2-4 hours per month on average in their Council role.
          </p>
          <h4>Contact us today to learn more and express interest in joining the See Well to Learn Advisory Council:</h4>
          <div class="peeps">
          	<p>
            Wing-See Leung, Chief Executive Officer
            <br/>
            <a href="tel:+14155677500">(415)567-7500</a>
            <br/>
            <%= mail_to "wleung@eyeinfo.org" ,subject: "See Well to Learn Advisory Council" do %>
              wleung@eyeinfo.org
            <% end %>
            </p>
          </div>
          <div class="peeps">
            <p>Erich P. Horn, MD, Board Chairperson
            <br/>
            <%= mail_to "erichhorn@sbcglobal.net" ,subject: "See Well to Learn Advisory Council" do %>
              erichhorn@sbcglobal.net
            <% end %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>

