<div class="eyebus-page standard-page">
  <section class="hero-image">  
  </section>
  <section class="content">
    <div class="container">
      <div class="row-fluid">
        <div class="col-md-12 info-box">
          <h1 class="page-title">Why</h1>
          <p>See Well to Learn aims to have every child in Northern California have clear vision so they can learn, grow and be active participants in their education and social interactions.  We believe that quality of life is greatly driven by success in school and that educational success is not possible if a child can’t see their learning materials.
          <br/>
          <br/>
          <strong>Why is See Well to Learn even necessary?</strong>
          <br/>
          Because vision problems are one of the most prevalent disabling conditions among children, impacting their academic achievement.  Once a child’s vision is corrected, they can catch up to their peers academically within weeks.  See Well to Learn is unique in not only uncovering vision issues, but also ensuring that underserved children receive the follow-up care they need by bringing the eye doctor to them.  See Well to Learn has shown to improve follow-up rates from a failed vision screening to seeing an eye doctor from 43% to 76%.
          <br/>
          <br/>
          <strong>Why preschoolers?</strong>
          <br/>
          Ages 3 – 5 is a critical time for brain development and vision is an important part of proper development.  If a vision problem is caught at this age, there is a strong chance of eliminating the problem altogether, rather than it turning into a larger learning or behavioral issue.  We want to make sure easily correctable vision problems are not what prevent the learning and development of children.
          <br/>
          <br/>
          <strong>Won’t well-child checkups catch any vision issues?  </strong>
          <br/>
          Unfortunately, not necessarily. We’ve screened over a million children in the last fifty years and we’ve caught vision issues that even well-child checkups have missed. In fact, in one study, over 30 percent of the children who failed our high-tech vision screening and ended up needing glasses, had previously passed a routine screening at their pediatrician’s office.
          <br/>
          <br/>
          Our ambition is to have all preschoolers, regardless of background or income, have their eyes screened annually across Northern California.
          </p>
        </div>
      </div>
    </div>
  </section>
  <div class="push200"></div>
</div>

<% content_for :head do %>
  <script src="js/wow.min.js"></script>
<% end %>

<% content_for :script do %>
  <script>
   new WOW().init();
  </script>
<% end %>