<h1>Listing Payments</h1>

<table class="table">
  <tr>
    <th>Payment Date</th>
    <th>Parent</th>
    <th>Student</th>
    <th></th>
    <th></th>
  </tr>
 
<% @payments.each do |payment| %>
  <tr>    
    <td><%= payment.created_at %></td>
    <td><%= payment.parent.fullname %></td>
    <td><%= payment.student.fullname %></td>
  </tr>
<% end %>
</table>


