<div id="register">
  <div class="container">
    <div class="row-fluid">
      <div class="col-md-12">
        <h1>Listing Payments</h1>

        <table class="table">
          <tr>
            <th>Payment Date</th>
            <th>Parent</th>
            <th>Student</th>
          </tr>
         
        <% @payments.each do |payment| %>
          <tr>    
            <td><%= payment.created_at %></td>
            <td><%= payment.parent.fullname if payment.parent %></td>
            <td><%= payment.student.fullname %></td>
          </tr>
        <% end %>
        </table>
      </div>
    </div>
  </div>
</div>

