<h3>
  Enter payment details for your child's screening
</h3>


<%= form_tag payments_path do %>
	
<!-- show student and parent information here -->

  <article>
    <label class="amount">
      <span>Amount: $20.00</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Your child's test fee"
          data-amount="2000"
          data-email=<%= @parent.email %>
          ></script>
<% end %>