 <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel"><%= @school.name %></h4>          
        </div>
        <div class="modal-body">
			<p>
			  <strong>Description:</strong>
			  <br/>
			  <%= @school.description %>
			</p>
		</div> <!-- modal-body -->
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			<%= link_to 'Edit School', edit_school_path(@school), class: 'btn btn-primary' %>
			<%= link_to 'Delete', school_path(@school), class: 'btn btn-danger',
			                    method: :delete, data: { confirm: 'Are you sure?' } %>
		</div> <!-- modal-footer -->
    </div>
</div>    