// import the CSS framework
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
}

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
body {
  width: 100%;
  height: 100%;
}
main {
  // background-color: #eee;
  // padding: 60px 0 0; // accommodate the navbar
  height: 100%;
  width: 100%;
}
section {
  @extend .row;
}

// general 
html {
  // height: 100%;
}

body {
  font-family: "ff-tisa-sans-web-pro";
  font-size: 16px;
  text-rendering: optimizeLegibility;
  font-weight: 400;
  position: relative;
}

.container {
  margin: 0;
  @media (min-width: 768px) {
    padding-left: 250px;
  }
}

h1, h2, h3, h4, h5 {
  font-family: "museo-sans";
}

h1 {
  font-family: "museo-slab";
}

p {
  font-size: 18px;
}

// header/nav styles

header {
  @media (min-width: 768px) {
    display: none;
  }
}

.navbar {
  padding: 8px 0;
}

.navbar-nav {
  float: right;
  font-family: "museo-slab";
  font-weight: 700;
  color: white;
  font-size: 14px;
}

.logo {
    background: image-url("seewelltolearn_logo.png") no-repeat center center;
    background-size: 264px 33px;
    height: 50px;
    width: 280px;
}

.leftnav {
  height: 100%;
  width: 200px;
  position: fixed;
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
}

.register-link {
  background: hsla(195, 78.7037%, 42.3529%, 1.0000);
  color: white;
  display: block;
  width: 100%;
  font-family: "museo-slab";
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  padding: 8px 20px;
}

.leftnav-links {
  height: 100%;
  width: 160px;
  background: hsla(0, 0%, 0.0000%, 1.0000);
  ul {
    list-style: none;
    padding: 0;
  }
  li {
    font-family: "museo-slab";
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    display: block;
    position: relative;
    &:first-child {
      padding-top: 12px;
    }
    a {
      color: white;
      padding: 8px 20px;
      display: block;
      height: 100%;
      width: 100%;
      text-decoration: none;
    }
  }
}

.big-logo {
  width: 200px;
}
// form 
.register {
  padding-top: 60px;
  background: hsla(0, 0.0000%, 92.9412%, 1.0000);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  padding-bottom: 200px;
  padding-left: 40px;
  .panel-primary {
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .panel-body {
    background: hsla(0, 0.0000%, 92.9412%, 1.0000);
  }
  input[type=text] {
    max-width: 320px;
  }
  input[type=radio] {
    margin-right: 5px;
  }
  label {
    font-weight: 700;
    font-size: 16px;
    margin-right: 15px;
  }
}