#homepage {
  .hero {
    color: white;
    background: image-url("hero-bg.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 800px;
    .row {
      padding: 60px 0;
    }
    .hero-logo {
      float: left;
     width: 280px;
      margin-right: 40px;
      display: inline-block;
    }
    .descript {
      float: left;
      display: inline-block;
    }
    h1 {
      font-size: 64px;
      font-weight: 100;
    }
    h4 {
      font-size: 23px;
      font-family: "museo-sans";
      font-weight: 100;
      line-height: 32px;
      max-width: 700px;
    }
    ul {
      -moz-padding-start: 0px;
      -webkit-padding-start: 0px;
      padding-start: 0px;
      font-size: 18px;
      font-weight: 700;
      max-width: 450px;
    }
    .button,
    [class*="button-"]{
      position: relative;
      display: inline-block;
      overflow: hidden;
      float: left;
      margin: 0 1em 1em 0;
      padding: 0 4em;
      height: 3.5em;
      font: 300 20px/3.5em 'Open Sans', sans-serif;
      text:{
        decoration: none;
        shadow: 0 1px 3px rgba(black, .35);
      }
      letter-spacing: .08em;
      color: #fff;
      background: hsla(34, 94.5652%, 63.9216%, 1.0000);
      border-radius: 2px;
      // @include transition(.35s ease all);
      -webkit-transition:  all .35s ease;
      -moz-transition: all .35s ease;
      transition: all .35s ease;
      
      &:hover{
        background: hsla(34, 94.5652%, 63.9216%, 1.0000);
      }
    }

    .button-hover{
      
      &:hover{ line-height: 9em; }
        
      &:before{
        content: attr(data-text);
        color: #DEEFF5;
        position: absolute;
        top: -2.75em;
      }
    }
  }
  .splash {
    margin-top: 60px;
  }
  .intro-copy {
    clear: both;
    font-size: 16px;
    font-weight: 300;
    margin: 20px 0 50px;
    display: block;
  }
  .visionscreening{
    background: hsla(34, 94.5652%, 63.9216%, 1.0000);
  }
  .benefits {
    background: hsla(34, 94.5652%, 63.9216%, 1.0000);
    padding-bottom: 200px;
    h1 {
      font-size: 70px;
      font-family: "museo-slab";
      text-align: center;
      margin: 0 auto;
      max-width: 800px;
      color: hsla(30, 60.4167%, 37.6471%, 1.0000);
    }
    h4 {
      font-size: 35px;
      font-family: "museo-slab";
      text-align: center;
      margin: 0 auto;
      max-width: 800px;
      color: hsla(30, 60.4167%, 37.6471%, 1.0000);
    }
  }
  .benefit-icon {
    margin-top: 20px;
    max-width: 210px;
    margin-bottom: 10px;
  }
  .benefit-detail {
    font-size: 17px;
    padding: 0 20px;
    font-weight: 400;
    text-align: center;
    color: hsla(30, 60.4167%, 37.6471%, 1.0000);
  }
}
#vision360 {
  #sidenav {
    height: 150px;
  }
  #sidenav.affix {
    top: 100px;
  }
  #sidenav.affix-top {
    position: static;
    margin-top: 300px;
  }
  section {
    padding: 40px 0;
  }
  .header {
    background: hsla(184, 44.9541%, 42.7451%, 1.0000);
  }
  .work {
    background: hsla(168, 37.2881%, 53.7255%, 1.0000);
  }
  .impact {
    background: hsla(30, 78.2178%, 80.1961%, 1.0000);
  }
  .partners {
    background: hsla(356, 86.0140%, 71.9608%, 1.0000);
  }
  .get-involved {
    background: hsla(346, 81.1518%, 62.5490%, 1.0000);
  }
}