#homepage {
  .container {
    @media screen and (min-width: 768px) {
      padding-left: 240px;
    }
  }
  .hero {
    color: white;
    background: hsla(36, 75.6345%, 38.6275%, 1.0000) image-url("hero-bg-yella.jpg") no-repeat top right fixed; 
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    background-size: 100% auto;
    @media screen and (min-width: 768px) {
      -webkit-background-size: 100% auto;
      -moz-background-size: 100% auto;
      background-size: 100% auto;
      min-height: 650px;
    }
    @media screen and (min-width: 1200px) {
      -webkit-background-size: 80% auto;
      -moz-background-size: 80% auto;
      background-size: 80% auto;
    }
    .row {
      padding: 60px 0;
    }
    .yelp-link {
      float: right;
      display: inline-block;
      background: hsla(0, 0.0000%, 0%, 0.3000);
      color: white;
      font-size: 30px;
      width: 40px;
      text-align: center;
      margin: 0 25px 0 2px;
      height: 47px;
      -webkit-border-bottom-right-radius: 25px;
      -webkit-border-bottom-left-radius: 25px;
      -moz-border-radius-bottomright: 25px;
      -moz-border-radius-bottomleft: 25px;
      border-bottom-right-radius: 25px;
      border-bottom-left-radius: 25px;
      -webkit-transition: background-color 0.5s ease;
      -moz-transition: background-color 0.5s ease;
      transition: background-color 0.5s ease;
      &:hover {
        background: hsla(360, 100.0000%, 45.0000%, 1.0000);
      }
      .yelp-icon {
        width: 18px;
        height: 22px;
        margin: 0 auto;
        padding-top: 10px;
      }
    }
    .social-links {
      float: right;
      margin-right: 1px;
      display: inline-block;
      a {
        display: inline-block;
        background: hsla(0, 0.0000%, 0%, 0.3000);
        color: white;
        font-size: 30px;
        width: 40px;
        text-align: center;
        margin-right: 1px;
        height: 47px;
        -webkit-border-bottom-right-radius: 25px;
        -webkit-border-bottom-left-radius: 25px;
        -moz-border-radius-bottomright: 25px;
        -moz-border-radius-bottomleft: 25px;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
        -webkit-transition: background-color 0.5s ease;
        -moz-transition: background-color 0.5s ease;
        transition: background-color 0.5s ease;
      }
      i {
        font-size: 22px;
      }
      .fb {
        &:hover {
          background: hsla(224, 48.4411%, 52.8582%, 1.0000);
        }
      }
      .tw {
        &:hover {
          background: hsla(207, 59.2812%, 50.1569%, 1.0000);
        }
      }
      .yt {
        &:hover {
          background: hsla(360, 100.0000%, 45.0000%, 1.0000);
        }
      }
    }
    .hero-logo {
      float: left;
      width: 280px;
      margin-right: 30px;
      display: inline-block;
    }
    .descript {
      float: left;
      display: inline-block;
      margin-top: 80px;
      @media screen and (min-width: 480px) {
        margin-top: 180px;
      }
      @media screen and (min-width: 768px) {
        margin-top: 0px;
        margin-left: 40px;
        max-width: 500px;
      }
    }
    .count {
      font-family: "museo-slab";
      font-weight: 900;
      font-size: 80px;
      border-top: 7px solid white;
      border-bottom: 7px solid white;
      line-height: 1;
      width: inherit;
      display: inline-block;
    }
    h1 {
      text-transform: uppercase;
      font-weight: 900;
      font-size: 27px;
      @media screen and (min-width: 480px) {
        font-size: 46px;
      }
      @media screen and (min-width: 992px) {
        font-size: 50px;
      }
    }
    h4 {
      font-size: 15px;
      font-family: "museo-sans";
      font-weight: 500;
      line-height: 22px;
      letter-spacing: 0.0425em;
       @media screen and (min-width: 768px) {
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 20px;
      }
    }
    ul {
      font-size: 18px;
      font-weight: 700;
      max-width: 450px;
    }
    .hero-button {
      display: block;
      padding: 10px 20px;
      font-size: 18px;
      background: hsla(0, 0%, 0.0000%, 0.3000);
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      color: white;
      font-weight: 700;
      font-family: "museo-slab";
      text-transform: uppercase;
      text-decoration: none;
      text-align: center;
      margin-bottom: 30px;
      -webkit-transition: background-color 0.5s ease;
      -moz-transition: background-color 0.5s ease;
      transition: background-color 0.5s ease;
      &:hover {
      background: hsla(37, 100.0000%, 50.0000%, 1.0000);
      }
      i {
        margin-left: 5px;
      }
    }
  }
  .splash {
    margin-top: 75px;
    @media screen and (min-width: 768px) {
      margin-top: 90px;
    }
  }
  .intro-copy {
    clear: both;
    font-size: 16px;
    font-weight: 300;
    margin: 20px 0 50px;
    display: block;
  }
  .visionscreening {
    background: hsla(201, 80.0830%, 47.2549%, 1.0000) image-url("visionscreen-bg.png") no-repeat 30% top;
    -webkit-background-size: 150% auto;
    -moz-background-size: 150% auto;
    background-size: 150% auto;
    padding-bottom: 100px;
    color: white;
    @media screen and (min-width: 768px) {
      background: hsla(201, 80.0830%, 47.2549%, 1.0000) image-url("visionscreen-bg.png") no-repeat left top;
      -webkit-background-size: 100% auto;
      -moz-background-size: 100% auto;
      background-size: 100% auto;
    }
    .row-fluid {
      padding-left: 0px;
      @media screen and (min-width: 768px) {
        padding-left: 30px;
      }

    }
    h1 {
      text-transform: uppercase;
      text-align: left;
      font-weight: 900;
      font-size: 40px;
      padding-top: 60px;
    }
    h3 {
      font-weight: 700;
      font-family: "museo-slab";
      font-size: 25px;
      @media screen and (min-width: 480px) {
        font-size: 40px;
      }
    }
    h4 {
      margin-top: 25px;
      font-size: 18px;
      font-weight: 700;
    }
  }
  .busrow {
    padding-top: 80px;
    @media screen and (min-width: 480px) {
      margin-top: 110px;
    }
    @media screen and (min-width: 1600px) {
      padding-top: 210px;
    }

  }
  .dabus {
    padding: 0 10px;
    @media screen and (min-width: 768px) {
      padding: 0;
    }
  }
  .benefit-button {
    background: hsla(0, 0.0000%, 0.0000%, 0.2500);
    font-family: "museo-slab";
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    color: white;
    padding: 12px 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    margin: 20px 0 10px;
    text-decoration: none;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
    &:hover {
      background: hsla(198, 100.0000%, 50.0267%, 1.0000);
    }
    i {
      margin-left: 5px;
    }
    &:hover {
      color: white;
      text-decoration: none;
    }
  }
  .learnmore-link {
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    i {
      margin-left: 5px;
    }
  }
  .benefits {
    color: white;
    padding-bottom: 30px;
    @media screen and (min-width: 768px) {
      padding-top: 30px;
    }
    h1 {
      font-size: 35px;
      font-family: "museo-slab";
      text-align: center;
      margin: 0 auto;
      text-transform: uppercase;
      font-weight: 900;
      max-width: 800px;
      @media screen and (min-width: 768px) {
        font-size: 50px;
      }
    }
    h4 {
      font-size: 20px;
      font-weight: 900;
      font-family: "museo-slab";
      text-align: center;
      margin: 0 auto;
      max-width: 800px;
    }
  }
  .icon-group {
    margin: 0 auto;
  }
  .benefit-group {
    text-align: center;
  }
  .benefit-icon {
    width: 180px;
    display: inline-block;
    @media screen and (min-width: 480px) {
      width: 131px;
    }
    @media screen and (min-width: 992px) {
      display: block;
      width: auto;
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }
  .benefit-detail {
    font-size: 16px;
    padding: 0 20px;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    max-width: 300px;
    text-align: left;
    vertical-align: middle;
    @media screen and (min-width: 992px) {
      text-align: center;
      display: block;
      width: auto;
    }
  }
}

//Parents & School pages
.parents-page {
  background: hsla(13, 61.0619%, 44.3137%, 1.0000) image-url("parents-bg.jpg") no-repeat bottom right fixed;
  .test-quote {
    color: hsla(12, 100.0000%, 82.7869%, 1.0000);
    font-size: 16px;
    font-weight: 300;
    line-height: 1.3;
  }
}
.schools-page{
  background: hsla(162, 77.7778%, 28.2353%, 1.0000) image-url("schools-bg.jpg") no-repeat bottom right fixed;
  .test-quote {
    color: hsla(157, 100.0000%, 59.0680%, 1.0000);
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
  }
}
.parents-page, .schools-page {
  -webkit-background-size: 55%;
  -moz-background-size: 55%;
  background-size: 55%;
  height: 100%;
  color: white;
  padding: 100px 0 380px;
  .container {
    @media screen and (min-width: 768px) {
      padding-left: 280px;
    }
  }
  h1 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 40px;
     @media screen and (min-width: 480px) {
      font-size: 60px;
    }
  }
  h3 {
    max-width: 450px;
    margin-top: 0px;
    font-size: 21px;
    line-height: 1.2;
  }
  p {
    font-size: 16px;
  }
}
.parents-page h3 {
  color: hsla(12, 100.0000%, 82.7869%, 1.0000);

}
.schools-page h3 {
  color: hsla(157, 100.0000%, 59.0680%, 1.0000);
}
.register-button-parent, .contact-button-school {
  background: hsla(0, 0.0000%, 0.0000%, 0.2500);
  font-family: "museo-slab";
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  color: white;
  padding: 12px 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  margin: 40px 0 30px;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  i {
    margin-left: 5px;
  }
  &:hover {
    color: white;
    text-decoration: none;
  }
}
.register-button-parent {
  &:hover {
    background: hsla(10, 97.1154%, 59.2157%, 1.0000);
  }
}
.contact-button-school {
  &:hover {
    background: hsla(157, 69.0821%, 40.5882%, 1.0000);
  }
}
.parents-body, .schools-body {
  padding:0 50px 0 30px;
}

.testimonial {
  margin: 20px 0;
  padding-left: 42px;
  position: relative;
  &:before {
    content: "\f10d";
    position: absolute;
    font-style: normal;
    z-index: 0;
    margin-left: -40px;
    margin-top: -4;
    font-family: "fontAwesome";
    font-size: 30px;
    color:  hsla(0, 0.0000%, 0.0000%, 0.1500);
  }
}
.test-quote {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  z-index: 2;
  &:after {
    content: "\f10e";
    font-style: normal;
    font-family: "fontAwesome";
    margin-left: 4px;
    color:  hsla(0, 0.0000%, 0.0000%, 0.1500);
  }
}
.byline {
  display: block;
  margin-top: 7px;
}
.side-module {
  padding-left: 20px;
  h2 {
    margin-top: 0px;
    font-size: 25px;;
  }
  p {
    margin-bottom: 0px;
  }
}
.sm-parents {
  border-left: 5px solid hsla(10, 100.0000%, 59.9145%, 1.0000);
}
.sm-schools {
  border-left: 5px solid hsla(157, 69.2965%, 40.6267%, 1.0000);
}

//FAQ Page
#faq-page {
  background: hsla(184, 44.9541%, 42.7451%, 1.0000)image-url("paper-bg.jpg") fixed 11%;;
  padding: 100px 0 380px;
  @media screen and (min-width: 768px) {
    background: hsla(184, 44.9541%, 42.7451%, 1.0000)image-url("paper-bg.jpg") fixed;
  }
}
.faq-body {
  padding-left: 30px;
  max-width: 800px;
  h1 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 60px;
  }
  h3 {
    font-weight: 900;
    font-size: 20px;
    margin: 25px 0 3px;
  }
  p {
    font-size: 16px;
  }
}

//Vision 360 Page

#vision360 {
  color: hsla(300, 0.0000%, 30.0487%, 1.0000);
  section {
    border-bottom: 1px solid hsla(214, 93.2204%, 88.4314%, 1.0000);
    &:first-child {
      border-bottom: none;
    }
    &:nth-child(7) {
      border-bottom: none;
    }
  }
  h1 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 60px;
  }
  h2 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 40px;
    font-family: "museo-slab";
    color: hsla(210, 84.3478%, 45.0980%, 1.0000);
  }
  h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  p {
    max-width: 680px;
  }
  ol, ul {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 30px;
    color: hsla(210, 84.3478%, 45.0980%, 1.0000);
  }
  #sidenav {
    height: 150px;
    display: none;
    ul {
      list-style: none;
    }
    li {

    }
    a {
      color: white;
      text-decoration: none;
      display: block;
      padding: 2px 7px;
      margin-bottom: 3px;
      background: hsla(210, 84.3478%, 45.0980%, 0.6000);
      width: 140px;
      font-size: 14px;
      border-bottom: 1px solid hsla(0, 0%, 100.0000%, 0.5000);
      // &:before {
      //   content: "\f06e";
      //   font-family: "fontAwesome";
      //   margin-right: 5px;
      // }
    }
    @media screen and (min-width: 992px) {
      display: block;
    }
  }
  #sidenav.affix {
    top: 100px;
  }
  #sidenav.affix-top {
    position: static;
    margin-top: 30px;
  }
  section {
    padding: 40px 0;
  }
  .row {
     padding-left: 30px;
     max-width: 680px;
  }
  .header {
    background: hsla(210, 84.3478%, 45.0980%, 1.0000) image-url("vision360-bg.jpg") no-repeat bottom right fixed;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    background-size: 100% auto;
    color: white;
    padding: 100px 0 70px;
    @media screen and (min-width: 768px) {
      background: hsla(210, 84.3478%, 45.0980%, 1.0000) image-url("vision360-bg.jpg") no-repeat bottom right fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
    }
  }
  .work {
    background: image-url("ourwork-bg.jpg") no-repeat bottom right fixed;
    padding: 50px 0 75px;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    background-size: 100% auto;
  }
  .impact {
    background: image-url("impact-bg-blue.jpg") no-repeat bottom right fixed;
    padding: 50px 0 75px;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    background-size: 100% auto;
  }
  .partners {
    background: image-url("getinvolved-bg-blue.jpg") no-repeat bottom right fixed;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    background-size: 100% auto;
    padding: 50px 0 75px;
    h4 {
      line-height: 1.4;
    }
    .partner-side-text {
      font-size: 16px;
      font-style: italic;
    }
    a {
      font-weight: 700;
    }
  }
  .get-involved {
    background: image-url("getinvolved-bg-blue.jpg") no-repeat bottom right fixed;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    background-size: 100% auto;
    padding: 50px 0 200px;
    h4 {
      margin-top: 30px;
    }
    a {
      font-weight: 700;
    }
  }
}