#homepage {
  .hero {
    color: white;
    background: hsla(36, 75.6345%, 38.6275%, 1.0000) image-url("hero-bg-yella.jpg") no-repeat top right fixed; 
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    background-size: 100% auto;
    min-height: 700px;
    @media screen and (min-width: 1200px) {
      -webkit-background-size: 80% auto;
      -moz-background-size: 80% auto;
      background-size: 80% auto;
    }
    .row {
      padding: 60px 0;
    }
    .social-links {
      float: right;
      margin-right: 40px;
      a {
        display: inline-block;
        background: hsla(0, 0.0000%, 0%, 0.3000);
        color: white;
        font-size: 30px;
        width: 40px;
        text-align: center;
        margin-right: 1px;
        line-height: 1;
        padding: 3px 0 12px;
        -webkit-border-bottom-right-radius: 25px;
        -webkit-border-bottom-left-radius: 25px;
        -moz-border-radius-bottomright: 25px;
        -moz-border-radius-bottomleft: 25px;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
        -webkit-transition: background-color 0.5s ease;
        -moz-transition: background-color 0.5s ease;
        transition: background-color 0.5s ease;
      }
      i {
        font-size: 22px;
      }
      .fb {
        &:hover {
          background: hsla(224, 48.4411%, 52.8582%, 1.0000);
        }
      }
      .tw {
        &:hover {
          background: hsla(207, 59.2812%, 50.1569%, 1.0000);
        }
      }
      .yt {
        &:hover {
          background: hsla(360, 100.0000%, 45.0000%, 1.0000);
        }
      }
    }
    .hero-logo {
      float: left;
      width: 280px;
      margin-right: 30px;
      display: inline-block;
    }
    .descript {
      float: left;
      display: inline-block;
      @media screen and (min-width: 768px) {
        margin-left: 40px;
      }
    }
    .count {
      font-family: "museo-slab";
      font-weight: 900;
      font-size: 100px;
      border-top: 7px solid white;
      border-bottom: 7px solid white;
      line-height: 1;
      width: inherit;
      display: inline-block;
    }
    h1 {
      text-transform: uppercase;
      font-weight: 900;
      font-size: 27px;
      max-width: 600px;
      @media screen and (min-width: 768px) {
        font-size: 50px;
      }
    }
    h4 {
      font-size: 14px;
      font-family: "museo-sans";
      font-weight: 500;
      line-height: 22px;
      max-width: 500px;
      letter-spacing: 0.0425em;
       @media screen and (min-width: 768px) {
        font-size: 17px;
        line-height: 26px;
        margin-bottom: 20px;
      }
    }
    ul {
      font-size: 18px;
      font-weight: 700;
      max-width: 450px;
    }
    .hero-button {
      display: block;
      padding: 10px 20px;
      font-size: 18px;
      background: hsla(0, 0%, 0.0000%, 0.3000);
      // @include border-radius(25px);
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      color: white;
      font-weight: 700;
      font-family: "museo-slab";
      // text-transform: uppercase;
      text-decoration: none;
      text-align: center;
      max-width: 525px;
    }
  }
  .splash {
    margin-top: 75px;
    @media screen and (min-width: 768px) {
      margin-top: 90px;
    }
  }
  .intro-copy {
    clear: both;
    font-size: 16px;
    font-weight: 300;
    margin: 20px 0 50px;
    display: block;
  }
  .visionscreening {
    background: hsla(201, 80.0830%, 47.2549%, 1.0000) image-url("visionscreen-bg.jpg") no-repeat 30% top;
    -webkit-background-size: 150% auto;
    -moz-background-size: 150% auto;
    background-size: 150% auto;
    padding-bottom: 100px;
    color: white;
    @media screen and (min-width: 768px) {
      background: hsla(201, 80.0830%, 47.2549%, 1.0000) image-url("visionscreen-bg.jpg") no-repeat left top;
      -webkit-background-size: 100% auto;
      -moz-background-size: 100% auto;
      background-size: 100% auto;
    }
    .row-fluid {
      padding-left: 30px;
    }
    h1 {
      text-transform: uppercase;
      text-align: left;
      font-weight: 900;
      font-size: 40px;
      padding-top: 60px;
    }
    h4 {
      font-weight: 700;
    }
  }
  .busrow {
    padding-top: 150px;
    @media screen and (min-width: 2000px) {
      padding-top: 400px;
    }
  }
  .dabus {
    padding: 0 30px 0 110px;
  }
  .benefits {
    background: hsla(0, 0.0000%, 92.9412%, 1.0000);
    padding: 60px 0 200px;
    color: hsla(199, 80.8612%, 40.9804%, 1.0000);
    h1 {
      font-size: 50px;
      font-family: "museo-slab";
      text-align: center;
      margin: 0 auto;
      text-transform: uppercase;
      font-weight: 900;
      max-width: 800px;
    }
    h4 {
      font-size: 20px;
      font-weight: 900;
      font-family: "museo-slab";
      text-align: center;
      margin: 0 auto;
      max-width: 800px;
    }
  }
  .benefit-icon {
    width: 200px;
    display: inline-block;
    @media screen and (min-width: 992px) {
      display: block;
      width: auto;
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }
  .benefit-detail {
    font-size: 17px;
    padding: 0 20px;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    max-width: 300px;
    text-align: left;
    vertical-align: middle;
    @media screen and (min-width: 992px) {
      text-align: center;
      display: block;
      width: auto;
    }
  }
}

//Parents & School pages
.parents-page {
  background: hsla(13, 61.0619%, 44.3137%, 1.0000) image-url("parents-bg.jpg") no-repeat bottom right fixed;
  .test-quote {
    color: hsla(12, 100.0000%, 82.7869%, 1.0000);
    font-size: 16px;
    font-weight: 300;
    line-height: 1.3;
  }
}
.schools-page{
  background: hsla(162, 77.7778%, 28.2353%, 1.0000) image-url("schools-bg.jpg") no-repeat bottom right fixed;
  .test-quote {
    color: hsla(157, 100.0000%, 59.0680%, 1.0000);
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
  }
}
.parents-page, .schools-page {
  -webkit-background-size: 55%;
  -moz-background-size: 55%;
  background-size: 55%;
  height: 100%;
  color: white;
  padding: 100px 0 380px;
  h1 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 60px;
  }
  h3 {
    max-width: 450px;
    margin-top: 0px;
    font-size: 21px;
    line-height: 1.2;
  }
  p {
    font-size: 16px;
  }
} 

.parents-page h3 {
  color: hsla(12, 100.0000%, 82.7869%, 1.0000);

}

.schools-page h3 {
  color: hsla(157, 100.0000%, 59.0680%, 1.0000);
}

.parents-body, .schools-body {
  padding:0 50px 0 30px;
}

.testimonial {
  margin: 20px 0;
}
.test-quote {
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
}
.side-module {
  margin-top: 40px;
  padding-left: 20px;
  h2 {
    margin-top: 0px;
    font-size: 25px;;
  }
  p {
    margin-bottom: 0px;
  }
}
.sm-parents {
  border-left: 5px solid hsla(10, 100.0000%, 59.9145%, 1.0000);
}
.sm-schools {
  border-left: 5px solid hsla(157, 69.2965%, 40.6267%, 1.0000);
}

//FAQ Page
#faq-page {
  background: hsla(184, 44.9541%, 42.7451%, 1.0000)image-url("paper-bg.jpg") fixed 11%;;
  padding: 100px 0 380px;
  @media screen and (min-width: 768px) {
    background: hsla(184, 44.9541%, 42.7451%, 1.0000)image-url("paper-bg.jpg") fixed;
  }
}
.faq-body {
  padding-left: 30px;
  max-width: 800px;
  h1 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 60px;
  }
  h3 {
    font-weight: 900;
    font-size: 20px;
    margin: 25px 0 3px;
  }
  p {
    font-size: 16px;
  }
}

//Vision 360 Page

#vision360 {
  color: white;
  h1 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 60px;
  }
  h2 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 40px;
    font-family: "museo-slab";
  }
  h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  p {
    max-width: 680px;
  }
  ol, ul {
    font-size: 16px;
    font-weight: 700;
  }
  #sidenav {
    height: 150px;
  }
  #sidenav.affix {
    top: 100px;
  }
  #sidenav.affix-top {
    position: static;
    margin-top: 300px;
  }
  section {
    padding: 40px 0;
  }
  .row {
     padding-left: 30px;
     max-width: 680px;
  }
  .header {
    background: hsla(184, 44.9541%, 42.7451%, 1.0000) image-url("vision360-bg.jpg") no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    color: white;
    padding: 100px 0 70px;
  }
  .work {
    background: hsla(211, 96.6102%, 53.7255%, 1.0000) image-url("ourwork-bg.jpg") no-repeat top center fixed;
    padding: 50px 0 75px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
  }
  .impact {
    background: hsla(30, 78.2178%, 80.1961%, 1.0000) image-url("impact-bg.jpg") no-repeat top center fixed;
    padding: 50px 0 75px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    color: hsla(39, 76.9223%, 29.5953%, 1.0000);
  }
  .partners {
    background: hsla(25, 100.0000%, 50.0000%, 1.0000);
    padding: 50px 0 75px;
    h4 {
      line-height: 1.4;
    }
    .partner-side-text {
      font-size: 16px;
      font-style: italic;
    }
  }
  .get-involved {
    background: hsla(30, 78.2178%, 80.1961%, 1.0000) image-url("getinvolved-bg.jpg") no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 50px 0 200px;
    a {
    }
  }
}