<div class="site-footer">
<%= link_to "Prevent Blindness Northern California", "http://northerncalifornia.preventblindness.org/", class: "footer-link", :target => "_blank" %> <br/>
1388 Sutter Street, Suite 408, 
San Francisco, CA 94109 • (415) 567-7500

<div class="footer-social-links">
	<a href="http://www.yelp.com/biz/prevent-blindness-northern-california-san-francisco" class="yelp-link-footer" target="_blank">
	  <div class="yelp-icon">
	    <%= image_tag "yelp-icon.png" %>
	  </div>
	</a>
	<a href="https://www.facebook.com/PreventBlindnessNorthernCalifornia?ref=hl" class="fb-link-footer" target="_blank"><i class="fa fa-facebook"></i></a>
	<a href="https://twitter.com/PBNorcal" class="tw-link-footer" target="_blank"><i class="fa fa-twitter"></i></a>
	 <a href="http://www.youtube.com/user/PBNCgroup?feature=watch" class="yt-link-footer" target="_blank"><i class="fa fa-youtube"></i></a>
</div>

</div>