<div class="site-footer">
<%= link_to "Prevent Blindness Northern California (PBNC)", "http://northerncalifornia.preventblindness.org/", class: "footer-link", :target => "_blank" %> <br/>
1388 Sutter Street Suite 408
San Francisco, CA 94109
(415) 567-7500
</div>